<html>
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="#"> -->
    </head>
    <body>
        <div class="header">
            <p>Welcome to the DonorPath Dashboard</p>
            <p>START = {{ start }}</p>
            <p>END = {{ end }}</p>
        </div>

        <p>BETWEEN Start AND End we showed the ad {{ shown }} times (our count)</p>
        <p>BETWEEN Start AND End the ad had hover interactions {{ numberOfHoverInteractions }} unique times.</p>
        <p>BETWEEN Start AND End the ad was clicked {{ numberOfClicks }} times.</p>
        <p>BETWEEN Start AND End the form was submitted {{ numberOfSubmissions }} times</p>
        <p>BETWEEN Start AND End the ad redirected users to DonorPath {{ numberOfRedirections }} time</p>
    </body>
</html>